.batch-details {
  display: flex;
  flex-direction: column;
  /* border: 1px solid grey; */
  font-size: 15px;
}

.student-row {
  cursor: pointer;
}

.student-header {
  background-color: lightgrey;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

h2 {
  text-align: center;
}

img {
  height: 200px;
}
