.evaluation-row {
  cursor: pointer;
}

.evaluation-colour.red {
  background-color: red;
}

.evaluation-colour.yellow {
  background-color: yellow;
}

.evaluation-colour.green {
  background-color: green;
}
